<form class="register-form" [formGroup]="usuariosForm" (ngSubmit)="onSubmit()">
<div class="register-div">
    <label>Nombre</label>
    <input class="register-input" type="text" formControlName="nombre">
    <label>Apellidos</label>
    <input class="register-input" type="text" formControlName="apellidos">
    <label>Email</label>
    <input class="register-input" type="email" formControlName="correo">
    <label>Contraseña</label>
    <input class="register-input" type="password" formControlName="password">
    <label>Fecha de nacimiento</label>
    <input class="register-input" type="date" formControlName="nacimiento">
    <label>Imagen</label>
    <input class="register-input" type="text" formControlName="imagen">
    <button class="register-button">Registrar</button>
</div>


</form>

