<div class="footer-box">

<div class="ul-box">
        <div class="imgFooter-box">
        <img src="https://res.cloudinary.com/du8mrjqdm/image/upload/v1674656179/E-commerce/M_kjgyjo.png">
    </div>
    <ul>
        <label>Redes sociales</label>
        <li><a href="https://github.com/MartaGilC">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/marta-gil-desarrollofullstack/">LinkedIn</a></li>
    </ul>

</div>
<div class="creado">
<p>Creado por Marta Gil Cárdenas</p>
</div>


</div>
