.navbar-box{
    display: flex;
    justify-content: space-around;
    padding: 1em;
    box-shadow: 2px 0 15px rgb(0 0 0 / 20%);
    position: sticky;
    top: -1px;
    .nav{
        display: flex;
        width: 50%;
        justify-content: space-between;

        @media screen and (max-width:480px){
            height: 0vh ;
            display: flex;
            width: 100%;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            pointer-events: none;
            transition: left 1s;
            &--active{
                height: 50vh;
                flex-direction: column;
                pointer-events: auto;
                transition: left 1s;
            }
        }

        .a{
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-size: smaller;
            

        @media screen and (max-width:480px){
            margin: .5em 0;
        }
    }

    .a:hover{
        color:rgb(168,70,34) ;

        
    }
    }
    .logout-button{
        background-color: transparent;
        border: solid 1px;
        color: black;
        height: 2em;
        width:  15em;
        text-transform: uppercase;
        font-size: smaller;
    }
    .input-box{

        .search-span{
            display: flex;
            text-decoration: none;
            color: black;
            width: 7em;
            height: 1.3em;
            border-bottom: solid 1.5px;
        }
    }
    .button-svg{
        display: none;
        background-color: transparent;
        border: 0px;
        @media screen and (max-width:480px){
            display: flex;
        }
    }
}

