
<div class="navbar-box">
    <button (click)=" setActive() " class="button-svg">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="menu-svg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
    </button>

    <div class="nav" [ngClass]="{'nav--active' : active}">
        <a class="a" routerLink="/">Home</a>
        <a class="a" routerLink="/maquillaje">Maquillaje</a>
        <a class="a" routerLink="/prendas">Ropa</a>
        <a class="a" *ngIf="!userService.isLoggedIn" routerLink="/registro">Registro</a>
        <a class="a" *ngIf="!userService.isLoggedIn" routerLink="/login">Inicia sesión</a>
        <button *ngIf="userService.isLoggedIn" (click)="logout()">Logout</button>
    </div>

    <div class="input-box">
        <a routerLink="/buscador" class="search-span">BUSCAR</a>
        
    </div>
</div>
