.firstBox-detallesPrenda{
    display: grid;
    grid-template-columns: auto auto;

    .infoPrendas-box{
        .button-atras{
            display: flex;
            justify-content: flex-end;
            button{
                background-color: transparent;
                border: 0px;
            }
        }
        display: flex;
        flex-direction: column;
        padding-top: 25em;
        color: #808081;
        text-transform: uppercase;
        font-size: smaller;
        .secondInfoPrendas-box{
            height: 30%;
        border: solid 1px;
        display: flex;
            flex-direction: column;
        justify-content: center;
        margin-left: 2em;
        padding-left: 2em;
        }
    }
    .img-box{
        display: flex;
        flex-direction: column;
        img{
            padding: 2em;
            @media screen and (max-width:450px) {
              width: 12em;
              padding-right: 0.9em;
              padding-bottom: 0.9em;
            }
        }

    }
    .detalles-buttons{
        display: flex;
            button{
                background-color:black;
                color: white;
                width: 130px;
                height: 30px;
                margin-right: 1em;
                text-transform: uppercase;
                font-size: smaller;
            }
    }
}