<div class="firstBox-detallesPrenda">

    <div class="infoPrendas-box">
        <div class="button-atras">
            <button routerLink="/prendas"> <img src="https://img.icons8.com/small/512/return.png" width="20px"></button>
        </div>
        <div class="secondInfoPrendas-box">
            <p>{{miPrenda?.nombre}}</p>
            <p>{{miPrenda?.color}}</p>
            <p>{{miPrenda?.precio}}€</p>

            <div *ngIf="userService.isLoggedIn" class="detalles-buttons">
                <button class="prenda-buttons" (click)="eliminarPrenda()">Eliminar</button>
                <button  class="prenda-buttons" routerLink="/editarPrenda//{miPrenda._id}">Editar</button>
            </div>

            

        </div>

    </div>
    
    <div class="img-box">
        <img src="{{miPrenda?.imagen}}" alt="{{miPrenda?.tipo}}" width="300"/>
        <img src="{{miPrenda?.imagen1}}" alt="{{miPrenda?.tipo}}" width="300"/>
        <img src="{{miPrenda?.imagen2}}" alt="{{miPrenda?.tipo}}" width="300"/>
    
    </div>
    


</div>

