.home-box{
    margin-bottom: 2em;
    margin-top: 2em;
    .beauty-box{
        display: flex;
        justify-content: end;
        .imgPaula-box{
            display: flex;
            justify-content: center;
            .img-paula{
                cursor: pointer;
                width: 49%;
            }
                .img-paula:hover{
            filter: opacity(.7);
            transition:all .5s ease-in-out
        }
        }

                .info-beauty{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-left: 2.9em;
            .button-home{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                height: 2em;
                width: 12em;
                margin-top: 1em;
                color: black;
                border: solid 0.5px;
                text-transform: uppercase;
                font-size: smaller;
            }
            h4{
                border-bottom: solid 1px;
                text-transform: uppercase;
            }
            p{
                width: 90%;
            }
        }
        }



        @media (max-width: 450px) {
            .beauty-box{

            .info-beauty{
                display: flex;
                flex-direction: column;
                height: 100%;
                position: absolute;
                color: whitesmoke;
                h4{
                    text-transform: uppercase;
                    border-bottom: solid 5px;
                }
                p{
                width: 55%;
                }
            }
            .imgPaula-box{
                .img-paula{
                    position: relative;
                    width: 100%;
    
                }
            }
            }

    }





    .beauty-box2{
        display: flex;
                .imgZahara-box{
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    .img-luzmi{
                        cursor: pointer;
                        width: 70%;
                }
                        .img-luzmi:hover{
                    filter: opacity(.7);
                    transition:all .5s ease-in-out
                }
                }

        .moreInfo-beauty{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: black;
            .button-home{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                height: 2em;
                width: 12em;
                margin-top: 1em;
                color: black;
                border: solid 0.5px;
                text-transform: uppercase;
                font-size: smaller;
            }
            h4{
                border-bottom: solid 1px;
            }
            p{
                width: 56%;
            }
                }
    }
    @media (max-width:450px) {
        .beauty-box2{
            .moreInfo-beauty{
                display: flex;
                flex-direction: column;
                height: 94%;
                color: whitesmoke;
                position: absolute;
                .button-home:hover{
                    background-color: white;
                }
            }
            .imgZahara-box{
                .img-luzmi{
                    width: 100%;
                    position: relative;
                }
            }

        }

    }
}