<div class="home-box">

    <div class="beauty-box">

        <div class="info-beauty">
            <h4>Beauty</h4>
            <p>Disfruta de nuestros productos. La mejor calidad al mejor precio</p>
        </div>

        <img routerLink="/maquillaje" class="img-paula" src="https://res.cloudinary.com/du8mrjqdm/image/upload/v1674334546/E-commerce/1674289210736-01_ejmits.jpg">
    </div>

    <div class="beauty-box2">
        <img  routerLink="/prendas" class="img-luzmi" src="https://res.cloudinary.com/du8mrjqdm/image/upload/v1674334549/E-commerce/1674294852792-01_ej9owl.jpg">
        <div class="moreInfo-beauty">
            <h4>FASHION</h4>
            <p>Moda en un click. De la XS a la XL</p>
        </div>

    </div>
</div>